/* ABOUT
-------------------------------------------------*/
.about {
    @extend %space;
    .media {
        margin-bottom: $space;
    }
}

.contact {

    .icon {
        margin-right: 10px;
        color: $colorPrimary;
        vertical-align: top;
    }

    #mc_embed_signup{
      clear:left;
      font:14px Helvetica,Arial,sans-serif;
    }

}

.pic {
  margin-left: 5rem;
  padding: 8px;
  border: 2px solid black;
}
.tilt {
  -webkit-transform: rotate(-2deg);
     -moz-transform: rotate(-2deg);
       -o-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
}
